*,
* ::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
@property --top-left {
    syntax: "percentage";
    inherits: false;
    initial-value: 50%
}
@property --top-right {
    syntax: "percentage";
    inherits: false;
    initial-value: 50%
}
@property --bottom-left {
    syntax: "percentage";
    inherits: false;
    initial-value: 0%
}
@property --bottom-right {
    syntax: "percentage";
    inherits: false;
    initial-value: 0%
}

/* Navbar & footer */
:is(.navbar, .offcanvas, footer) {
    background-color: black;
    
}

:is(.nav-link) {
    color: white;
}

img[alt="logo"] {
    width: 7rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    
}